* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background-color: #f2f3ff;
    color: #000000;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 1rem;
}

#nav-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

#logo {
    padding-left: 3rem;
}

#nav-list li {
    padding-right: 4rem;
}

#nav-list a {
    color: #000000;
    text-decoration: none;
}