/* general styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: "Inter", sans-serif;
    background-color: #f2f3ff;
    color: #000000;
}

/* normal nav bar */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#nav-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1.5em;
}

#nav-list a {
    color: #000000;
    text-decoration: none;
}

#nav-list a:hover {
    color: #737ef4;
    text-shadow: #cfd2f1 1px 1px;
}

#nav-list li {
    padding-right: 4rem;
}

#logo {
    padding-left: 2rem;
}

/* compressed nav bar */

.hamburger {
    display: none;
    cursor: pointer;
}

@media (max-width: 700px) {
    .hamburger {
        display: block;
        padding-right: 4rem;
    }

    #nav-list {
        opacity: 0;
        pointer-events: none;
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 80px;
        right: 4rem;
        background-color: rgba(207, 210, 241, 0.8);
        border-radius: 15px;
        z-index: 1;
    }

    #nav-list[visibility="true"] {
        opacity: 1;
        pointer-events: auto;
    }

    #nav-list[transitioning="true"] {
        transition: opacity 500ms ease;
    }

    #nav-list li {
        display: flex;
        align-content: center;
        justify-content: center;
        padding: 15px 50px;
    }
}

/* hero */

#home {
    height: 100vh;
    overflow: hidden;
}

#hero-container {
    font-family: "Noto Serif", serif;
    display: flex;
    align-items: center;
}

#hero-text {
    flex: 1;
    display: block;
    transform: translateY(-50%);
    text-align: center;
    font-size: 1vw;
}

#changing-languages {
    display: block;
    text-align: center;
    min-width: 0;
    line-height: 1.5em;
    font-size: 10vw;
    overflow: hidden;
}

#hero-image {
    flex: 1;
    margin-right: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero-image img {
    max-width: 100%;
    height: auto;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    transition-duration: 1000ms;
}

#hero-image img:hover {
    transform: scale(1.05);
}

  